:host {
    display: block;
    position: absolute;
    height: 100%;
    font-size: 9px;
    font-family: "Verdana", sans-serif;
    /* dynamic background-color, height, top */
    /* dynamic width, left (?)*/
}

#shiftCode, #workplaceCode, #employeeCode {
    text-align: center;
}

#errorIcon {
    position: absolute;
    top: -7px;
    right: -7px;
    height: 14px;
    width: 14px;

    /*color: black;
    background-color: yellow;*/
    stroke: black;
    fill: yellow;
    stroke-width: 1;
}