
:host {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
    display: block;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#headerContainer {
    display: block;
    position: relative;
    height: 10%;
    width: 100%;
    border-radius: 5px;
    margin: 1%;
}

#scheduleContainer {
    display: block;
    position: relative;
    height: 80%;
    width: 100%;
    overflow: auto;
    border-radius: 5px;
}

#infoContainer {
    border-radius: 5px;
    margin: 1%;
}

@media screen {
    #infoContainer, #scheduleContainer, #headerContainer {
        -webkit-filter: blur(0); /*needed for the blur on box-shadow*/
        box-shadow: 0 1px 0 rgba(255, 255, 255, .2), inset 0 4px 5px rgba(0, 0, 0, .2), inset 0 1px 0 rgba(0, 0, 0, .2), inset 0 -4px 5px rgba(255, 255, 255, 0.4);
        background-color: #ffffed;
    }
}

@media print {
    #infoContainer, #scheduleContainer, #headerContainer {
        border: 1px solid rgba(0,0,0,0.1);
        background-color: inherit;
    }
}

paper-button::shadow #ripple {
    color: blue;
}

paper-button[active] {
    /*background-color: lightskyblue;*/
    color: white;
    box-sizing: border-box;

}

paper-button /deep/ .button-content {
    padding: 0.18em;
}
paper-button:not([active]) {
    border-radius: 3px;
    box-sizing: border-box;
}

paper-button {
    clear: both;
    float:left;
    display: inline-block;
    height: 14px;
    font-size: 10px;
    box-sizing: border-box;
    text-align: center;
    margin: 2px;
    padding: 0;
    max-width: 80px;
    min-width: 20px;
}

.selectContainer {
    display: block;
    width: 30%;
    height: 90%;
    padding-top: 4px;
    /*border: 1px solid rgba(200,50,50,0.3);*/
}

#scheduleSelectContainer {
    display: block;
    position: absolute;
    left: 0;
    width: 23%;
    height: 100%;
    padding-left: 3px;
}

#employeeSelectContainer {
    display: block;
    position: absolute;
    height: 100%;
    left: 12%;
    width: 30%;
}

#shiftSelectContainer {
    display: block;
    position: absolute;
    left: 43%;
    width: 57%;
    height: 100%;
    padding-left: 3px;
}

#shiftSelectContainer div {
    display: inline-block;
    width: 25%;
    background-color: lightgray;
    font-size: 10px;
    border: 1px solid gray;
    margin: 0;
}

* {
    -webkit-user-select: none; /* make default to not be able to select text anywhere to avoid annoying highlighting */
}

@media print {
    core-splitter {
        width: 0 !important;
    }
    #headerContainer, core-splitter, #infoContainer, paper-slider {
        position: absolute;
        width: 0;
        height: 0;
        visibility: hidden;
    }
    #scheduleContainer {
        display: block;
        position: relative;
        margin: 0;
        height: 100% !important;
        width: 120% !important;
        background-color: white !important;
        overflow: hidden;
        border-radius: 0;
        border: none;
    }
    html [flex] {
        flex: 0 0 0 !important;
    }
}
