:host {
    display: block;
    position: absolute;
}

div {
    padding: 0;
    margin: 0;
}

svg {
    display: block; /* avoid extra space under svg as inline element */
}

#weekSchedule {
    position: absolute;
}

#weekScheduleOverlay {
    position: absolute;
    pointer-events: none;
}

div#weekDay.dragShiftHover {
    /*background-color: rgba(255,255,255,0.2) !important;*/
    pointer-events: auto !important;
    opacity: 0.9;
}

div#weekDay.dragShiftHover:before, div#weekDay.dragShiftHover:after {
    position: absolute;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.20);
    content: " ";
    top: 1px;
    left: 1px;
    bottom: 1px;
    right: 1px;
}

div#weekDay {
    position: absolute;
    background-color: #87ceeb;
    /* dynamically: width, height, left */
}

.weekDayHeader {
    position: absolute;
    top: 0;
    text-align: center;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,0.25);
    color: rgba(0,0,0,0.5);
    pointer-events: none;
}

